<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:fragment="header">
    <div class="header-bar">
        <div class="header-left">
            <a href="/home" class="header-brand">Главная страница</a>
        </div>

        <div class="header-right">

            <span sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin/users">
                    <button class="btn btn-small">Управление пользователями</button>
                </a>
            </span>

            <form action="/logout" method="post" style="display:inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-small">Выйти</button>
            </form>

        </div>
    </div>
</div>

</body>
</html>

